body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  header {
    background-image: url('Images/Cricket_home_bg_img.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }
  
  .header-content {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .header-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .header-content p {
    font-size: 1.5rem;
  }
  

  h1 {
    font-size: 4.0rem;
    margin-bottom: 0.5rem;
    
  }
  .p 
  {
    font-size: 1.2rem;
  }

  /* Match Details Section */
#match-details {
  margin-bottom: 20px;
  margin-left: 5%;
}

#match-details h2 
{
  font-size: 2rem;
  margin-bottom: 10px;
}

#match-details label {
  display: block;
  margin-bottom: 5px;
}

#match-details input {
  padding: 12px;
  margin-bottom: 10px;
}

#match-details button {
  padding: 10px 20px;
  background-color: #3db541;
  font-weight: bolder;
  color: white;
  border: none;
  cursor: pointer;
  font-size: medium;
}

#match-details button:hover {
  background-color: #088e0e;
}

/* Scoreboard Section */
#scoreboard {
  display: none;
}

#scoreboard h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

#scoreboard div {
  margin-bottom: 10px;
}

#scoreboard button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

#scoreboard button:hover {
  background-color: #45a049;
}

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
